:root {
	--colour-primary-50: hsl(128, 57%, 90%);
	--colour-primary-100: hsl(128, 57%, 80%);
	--colour-primary-200: hsl(128, 57%, 70%);
	--colour-primary-300: hsl(128, 57%, 60%);
	--colour-primary-400: hsl(128, 57%, 50%);
	--colour-primary-500: hsl(128, 57%, 40%);
	--colour-primary-600: hsl(128, 57%, 30%);
	--colour-primary-700: hsl(128, 57%, 20%);
	--colour-primary-800: hsl(128, 57%, 10%);
	--colour-primary-900: hsl(128, 57%, 5%);

	--colour-neutral-100: hsl(204, 10%, 90%);
	--colour-neutral-200: hsl(204, 10%, 80%);
	--colour-neutral-300: hsl(204, 10%, 70%);
	--colour-neutral-400: hsl(204, 10%, 60%);
	--colour-neutral-500: hsl(204, 10%, 50%);
	--colour-neutral-600: hsl(204, 10%, 40%);
	--colour-neutral-700: hsl(204, 10%, 30%);
	--colour-neutral-800: hsl(204, 10%, 20%);
	--colour-neutral-900: hsl(204, 10%, 10%);

	--colour-white: hsl(0, 0%, 100%);
	--colour-black: hsl(0, 0%, 0%);
}
