html {
	box-sizing: border-box;
	height: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg,
iframe,
object {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dl,
dt,
blockquote {
	overflow-wrap: break-word;
	hyphens: auto;
}
